a.out
db/
incremental_db/
output_files/
simulation/
work/
transcript
c5_pin_model_dump.txt
simul-rgb-explorer.cr.mti
rgb_explorer.qws
rgb_explorer_nativelink_simulation.rpt
rgb_explorer.qarlog
rgb_explorer.archive.rpt
